Repository vaticle/typedb-driver-python, pull requests merged in 2019-10, with the labels that each got.

#67 Refactor how version is provided to Python deployment rules
  .circleci/config.yml
  BUILD
  dependencies/graknlabs/dependencies.bzl
Labels: bug, build

#68 Refactor how version is provided to deploy_github rule
  .circleci/config.yml
  BUILD
Labels: build, refactor

#71 Sleep before executing test
  .circleci/config.yml
Labels: bug, build

#73 Delete Queries return Void Answer Type, add Concept.is_deleted()
  dependencies/graknlabs/dependencies.bzl
  grakn/service/Session/Concept/Concept.py
  grakn/service/Session/util/ResponseReader.py
  tests/integration/test_concept.py
  tests/integration/test_grakn.py
Labels: feature, refactor
