Repository vaticle/typedb-driver-python, pull requests merged in 2019-07, with the labels that each got.

#51 Upgrade Grakn Client Python to use latest @graknlabs_protocol
  BUILD
  WORKSPACE
  dependencies/graknlabs/dependencies.bzl
  grakn/BUILD
  grakn/client.py
  grakn/service/Keyspace/KeyspaceService.py
  grakn/service/Session/Concept/BaseTypeMapping.py
  grakn/service/Session/util/RequestBuilder.py
  grakn/service/Session/util/enums.py
  tests/integration/test_keyspace.py
Labels: bug, build

#52 Use same version for test-deployment as for deploy-pip-snapshot
  .circleci/config.yml
Labels: bug, build

#53 Upgrade to latest version of @graknlabs_protocol
  dependencies/graknlabs/dependencies.bzl
  grakn/client.py
  grakn/service/Keyspace/KeyspaceService.py
  grakn/service/Session/Concept/BaseTypeMapping.py
  grakn/service/Session/util/RequestBuilder.py
  grakn/service/Session/util/enums.py
Labels: build, refactor

#56 KGLIB sync dependencies
  .circleci/config.yml
Labels: build
