Repository vaticle/typedb-driver-python, pull requests merged in 2020-12, with the labels that each got.

#135 Don't run test-deployment in CI
  .grabl/automation.yml
Labels: priority: low, type: build

#136 Update protocol to 2.0.0a3
  BUILD
  requirements.txt
Labels: priority: medium, type: build

#141 Adapt to new grabl
  .grabl/automation.yml
Labels: priority: high, type: build, type: refactor

#140 Update how we pass requirements to assemble_pip
  BUILD
  dependencies/graknlabs/repositories.bzl
Labels: priority: high, type: build, type: refactor

#142 Validate Python dependencies before releasing
  .grabl/automation.yml
  BUILD
  dependencies/graknlabs/repositories.bzl
Labels: priority: high, type: build

#143 Fix session pulses never getting sent
  grakn/client.py
  grakn/rpc/session.py
Labels: priority: high, type: bug
